*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Calibri;
    max-width: 375px;
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 8rem;
}