.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.hijF{
    /* width: 6.5rem; */
    width: 30%;
    height: 2rem;
    background-color: lightgreen;
    border-radius: 3px;
    border: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}