.seccion2{
    padding: 1rem 1rem;
}

.phijoS2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;

}

.hijS2{
    margin-top: 0.8rem;
    width: 100%;
    height: 12rem;
    border: 2px solid black;
    border-radius: 1.5rem; 

    background-color: lightsalmon;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}